<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/add-conta.css">
    <link rel="shortcut icon" href="img/logo.jpg" type="image/x-icon">
    <title>Adicionar Conta</title>
</head>
<body>
    <!-- Componente header importado do diretório /components/component.html -->
    <header th:replace="components/component :: header"></header>

    <main>

        <!-- Formulário -->
        <h1>+ Adicionar Conta</h1>
        <form action="/addConta" method="post" th:object="${conta}">
            <input type="text" th:field="*{conta}" placeholder="Nome da Conta" required>
            <input type="number" th:field="*{valor}" placeholder="Valor da Conta" required>
            <textarea th:field="*{anotacao}" placeholder="Anotação da Conta"></textarea>
            <input type="date" th:field="*{vencimento}" required>
            <button>Enviar</button>
        </form>
    </main>
</body>
</html>