<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/add-conta.css">
    <link rel="shortcut icon" href="/img/logo.jpg" type="image/x-icon">
    <title>Adicionar Conta</title>
</head>
<body>
    <!-- Componente header importado do diretório /components/component.html -->
    <header th:replace="components/component :: header"></header>
    
    <div th:replace="components/component :: nav"></div>
    
    <main>

        <!-- Formulário -->
        <form th:action="@{/contas/criar}" method="post" th:object="${contas}">

            <h1>Adicionar Conta</h1>

            <!-- Nome da conta -->
            <input type="text" th:field="*{conta}" placeholder="Nome da Conta" >
            <div class="box-errors" th:if="${#fields.hasErrors('conta')}">
                <p class="errors" th:errors="*{conta}"></p>
            </div>

            <!-- Valor da conta -->
            <input type="number" th:field="*{valor}" step="0.01" placeholder="Valor da Conta" >
            <div class="box-errors" th:if="${#fields.hasErrors('valor')}">
                <p class="errors" th:errors="*{valor}"></p>
            </div>

            <!-- Anotação da conta -->
            <textarea th:field="*{anotacao}" rows="1" cols="5" placeholder="Anotação da Conta"></textarea>
            <div class="box-errors" th:if="${#fields.hasErrors('anotacao')}">
                <p class="errors" th:errors="*{anotacao}"></p>
            </div>

            <!-- Vencimento da conta -->
            <input type="date" th:field="*{vencimento}" >
            <div class="box-errors" th:if="${#fields.hasErrors('vencimento')}">
                <p class="errors" th:errors="*{vencimento}"></p>
            </div>

            <!-- Checkbox para todos os meses -->
            <div style="width: 100%; display: flex; justify-content: start;">
                <input type="checkbox" id="checkJustForMonthNow" style="width: 15px; height: 15px;">
                <label for="checkJustForMonthNow" style="margin: 2px 0 0 5px;">Escolher quantidade de meses</label>
            </div>

            <!-- Caso habilitado ele exibe o input com a quantidade de meses -->
            <div style="display: none;" id="div-check">
                <label for="amountMonths">Quantidade de meses:</label>
                <input type="number" name="meses" id="amountMonths">
                <div th:if="${errorMeses}">
                    <p th:text="${errorMeses}"></p>
                </div>
            </div>

            <div th:if="${erro_vali}">
                <p class="errors" th:text="${erro_vali}"></p>
            </div>

            <button>Enviar</button>
        </form>
    </main>

    <!-- Scripts -->
    <script src="/js/scripts.js"></script>
    <script src="/js/form-contas.js"></script>

</body>
</html>