<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/add-conta.css">
    <link rel="shortcut icon" href="/img/logo.jpg" type="image/x-icon">
    <script src="js/scripts.js"></script>
    <title>Editar Conta</title>
</head>
<body>
    <!-- Componente header importado do diretório /components/component.html -->
    <header th:replace="components/component :: header"></header>

    <div th:replace="components/component :: nav"></div>
    
    <main>

        <!-- Formulário -->
        <form action="/editConta" method="post" th:object="${contas}">

            <h1>Editar Conta</h1>
            <input type="hidden" th:field="*{id}">

            <!-- Nome da Conta -->
            <input type="text" th:field="*{conta}" placeholder="Nome da Conta">
            <div class="box-errors" th:if="${#fields.hasErrors('conta')}">
                <p class="errors" th:errors="*{conta}"></p>
            </div>

            <!-- Valor da Conta -->
            <input type="number" th:field="*{valor}" step="0.01" placeholder="Valor da Conta">
            <div class="box-errors" th:if="${#fields.hasErrors('valor')}">
                <p class="errors" th:errors="*{valor}"></p>
            </div>

            <textarea th:field="*{anotacao}" placeholder="Anotação da Conta"></textarea>

            <!-- Vencimento da conta -->
            <input type="date" th:value="${vencimento}" name="vencimento">
            <div class="box-errors" th:if="${#fields.hasErrors('vencimento')}">
                <p class="errors" th:errors="*{vencimento}"></p>
            </div>

            <select th:field="*{status}">
                <option th:each="status : ${T(com.br.AdMon.Enums.Status).values()}" th:value="${status}" th:text="${status}"></option>
            </select>
            <button>Enviar</button>
        </form>
    </main>
</body>
</html>