<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/add-conta.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <title>Login</title>
</head>
<body>
    <!-- Componente header importado do diretório /components/component.html -->
    <header th:fragment="header">
        <img src="/img/nav-hbg.jpg" id="nav" class="btn-nav-hbg">
        <a th:href="@{/auth/register}">Criar Conta</a>
    </header>

    <div th:replace="components/component :: nav"></div>
    
    <main>

        <!-- Formulário -->
        <form action="" method="post" th:object="${usuarios}">

            <h1>Login</h1>

            
            <!-- E-mail do usuário -->
            <input type="email" th:field="*{email}" placeholder="E-mail" >
            <div class="box-errors" th:if="${#fields.hasErrors('email')}">
                <p class="errors" th:errors="*{email}"></p>
            </div>

            <!-- Senha do usuário -->
            <input type="password" th:field="*{senha}" placeholder="Senha">
            <div class="box-errors" th:if="${#fields.hasErrors('senha')}">
                <p class="errors" th:errors="*{senha}"></p>
            </div>

            <div style="width: 100%;">
                <a th:href="@{/forgot-password}" style="color: #0b8a26;" id="dataNowMonth">Esqueceu a senha?</a>
            </div>

            <div th:if="${msg}">
                <strong th:text="${msg}" class="errors"></strong>
            </div>
           

            <button>Entrar</button>
        </form>
    </main>

    <!-- Scripts -->
    <script src="/js/scripts.js"></script>
</body>
</html>