<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/add-conta.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <title>Registrar</title>
</head>
<body>
    <!-- Componente header importado do diretório /components/component.html -->
    <header th:fragment="header">
        <img src="/img/nav-hbg.jpg" id="nav" class="btn-nav-hbg">
        <a th:href="@{/auth/login}">Login</a>
    </header>
    <div th:replace="components/component :: nav"></div>
    
    <main>

        <!-- Formulário -->
        <form action="" method="post" th:object="${usuarios}" id="form">

            <h1>Registrar</h1>

            <!-- Nome do usuário-->
            <input type="text" th:field="*{nome}" placeholder="Nome" >
            <div class="box-errors" th:if="${#fields.hasErrors('nome')}">
                <p class="errors" th:errors="*{nome}"></p>
            </div>

            <!-- E-mail do usuário -->
            <input type="email" th:field="*{email}" placeholder="E-mail" >
            <div class="box-errors" th:if="${#fields.hasErrors('email')}">
                <p class="errors" th:errors="*{email}"></p>
            </div>

            <!-- Senha do usuário -->
            <input type="password" th:field="*{senha}" placeholder="Senha" id="senha">
            <div class="box-errors" th:if="${#fields.hasErrors('senha')}">
                <p class="errors" th:errors="*{senha}"></p>
            </div>

            <!-- Confirmar senha do usuário -->
            <input type="password" placeholder="Repita a senha" id="rsenha">
            <div class="box-errors">
                <p class="errors" id="senha-error"></p>
            </div>

            <div th:if="${erro_exception}" class="box-errors">
                <p class="errors" style="text-align: start;" th:text="${erro_exception}"></p>
            </div>

            <p style="color: #0b8a26;">Ao criar a conta, você aceita os <a th:href="@{/termos}" id="dataNowMonth" style="color: #0b8a26;">termos de uso</a> do site.</p>

            <button id="submit">Registrar</button>
        </form>
    </main>

    <!-- Scripts -->
    <script src="/js/scripts.js"></script>
    <script src="/js/register.js"></script>
</body>
</html>