<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <!-- Cabeçalho -->
    <header th:fragment="header">
        <a href="@{/}">Início</a>
        <a href="">Add Conta</a>
        <a href="">Add Ganhos</a>
        <a href="">Sair</a>
    </header>

    <!-- Rodapé -->
    <footer th:fragment="footer">
        rODAPÉ DO SITE
    </footer>
</body>
</html>