<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <!-- Cabeçalho -->
    <header th:fragment="header">
        <img src="/img/nav-hbg.jpg" id="nav" class="btn-nav-hbg">

        <!-- Se houver sessão -->
        <div th:if="${session.session}">
            <a th:href="@{/auth/logout}">Sair</a>
        </div>

        <!-- Se não houver sessão -->
        <div th:unless="${session.session}">
            <a th:href="@{/auth/login}">Login</a>
            <a th:href="@{/auth/register}">Criar Conta</a>
        </div>
    </header>

    <div class="nav hide"  th:fragment="nav">
        <a th:href="@{/}">Ínicio</a>

        <!-- Há sessão -->
        <div th:if="${session.session}">
            <a th:href="@{/dashboard}">Dashboard</a>
            <a th:href="@{/calendario/{ano}(ano=${#dates.format(new java.util.Date(), 'yyyy')})}">Calendário</a>
            <a th:href="@{/contas/criar}">Adicionar Contas</a>
            <a th:href="@{/ganhos/criar}">Adicionar Ganhos</a>
            <a th:href="@{/perfil/editar}">Configurações</a>
        </div>

        <!-- Não há sessão -->
        <div th:unless="${session.session}">
            <a th:href="@{/auth/login}">Login</a>
            <a th:href="@{/auth/register}">Criar Conta</a>
        </div>
    </div>

    <!-- Rodapé -->
    <footer th:fragment="footer">
        <table style="width: 100%;">
            <tbody style="width: 100%;">
                <th>Páginas Úteis</th>
                <th>Links</th>
                <th>Termos de Uso</th>
            </tbody>
            <tbody style="width: 100%; text-align: center;">
                <td>
                    <a href="" id="dataNowMonth" style="color: #0c6e48;">Calendário</a>
                    <br>
                    <a th:href="@{/dashboard}" id="dataNowMonth" style="color: #0c6e48;">Dashboard</a>
                    <br>
                    <a th:href="@{/perfil/editar}" id="dataNowMonth" style="color: #0c6e48;">Configurações</a>
                </td>
                <td>
                    <a href="" id="dataNowMonth" style="color: #0c6e48;">Instagram</a>
                    <br>
                    <a href="" id="dataNowMonth" style="color: #0c6e48;">Facebook</a>
                    <br>
                    <a href="" id="dataNowMonth" style="color: #0c6e48;">LinkedIn</a>
                    <br>
                </td>
                <td>
                    <a th:href="@{/termos}" id="dataNowMonth" style="color: #0c6e48;">Termos de Uso</a>
                    <br>
                    <a th:href="@{/termos#privacidade}" id="dataNowMonth" style="color: #0c6e48;">Privacidade</a>
                    <br>
                </td>
            </tbody>
        </table>
    </footer>
</body>
</html>