<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/list.css">
    <link rel="shortcut icon" href="/img/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <!-- Componente header importado do diretório /components/component.html -->
    <header th:replace="components/component :: header"></header>

    <div th:replace="components/component :: nav"></div>
    
    <main>
        <h1 style="color: white; text-align: start; padding-left: 10%; width: 100%;">Para este mês</h1>

<!-- Total deste mês -->

        <div class="load" id="load_1"></div>
        <section class="graficos-total">
            <div id="dado_1">
                <h1 id="valor">
                </h1>
                <a href="" id="dataNowMonth">Ver dados deste mês</a>
            </div>

            <div style="width: 100%; display: flex; justify-content: center;">
                <span class="box-info">
                    Este valor é referente a soma dos ganhos subtraído pelas contas pagas do mês atual. As contas que não forem marcadas como pagas não serão contadas aqui.
                </span>
            </div>

<!-- Gráfico rosca 1 -->

            <div class="load" id="load_2"></div>
            <div id="dado_2">
                <div id="donutchart"></div>
                <span class="box-info">
                    Estes dados são das contas que estão cadastradas, aqui você pode
                    acompanhar todas as contas e fazer uma comparação dos valores. Os valores exibidos
                    correspondem ao período total.
                </span>
            </div>

<!-- Gráfico rosca 2 -->

            <div class="load" id="load_3"></div>
            <div id="dado_3">
                <div id="donutchart_2"></div>
                <span class="box-info">
                    Estes dados são dos ganhos que estão cadastrados, aqui você pode
                    acompanhar todos os ganhos e fazer uma comparação dos valores. Os valores exibidos
                    correspondem ao período total.
                </span>
            </div>
        </section>
        <hr>

<!-- Contas que vencem nos próximos 7 dias -->

        <section class="info">
            <h1>Contas que vencem nos próximos 7 dias</h1>

            <tr th:if="${#lists.isEmpty(contas)}">
                <p class="box-info" style="margin: 20px 0;">Não há contas a vencer nos próximos 7 dias.</p>
            </tr>

            <table th:each="contas : ${contas}">
            <thead>
                <th>Conta</th>
                <th>Anotações</th>
                <th>Valor</th>
                <th>Vencimento</th>
            </thead>
            <tbody>

                <td th:text="${contas.conta}"></td>
                <td th:text="${contas.anotacao}"></td>
                <td th:text="'R$ ' + ${#numbers.formatDecimal(contas.valor, 0, 'POINT', 2, 'COMMA')}"></td>
                <td th:text="${#temporals.format(contas.vencimento, 'dd/MM/yyyy')}"></td>
                <td>
                    <a th:href="@{/contas/editar/{id}(id=${contas.id})}">Editar</a>
                </td>
                <td>
                    <a th:href="@{/contas/excluir/{id}(id=${contas.id})}">Excluir</a>
                </td>
            </tbody>
        </table>
        </section>
    </main>

    <!-- Scripts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/scripts.js"></script>
</body>

</html>