<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/list.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <!-- Componente header importado do diretório /components/component.html -->
    <header th:replace="components/component :: header"></header>

    <div th:replace="components/component :: nav"></div>

    <main>
        <h1 style="color: white; text-align: start; padding-left: 10%; width: 100%;">Para este mês</h1>

        <!-- Total deste mês -->

        <div class="load" id="load_1"></div>
        <section class="graficos-total">
            <div id="dado_1">
                <h1 id="valor">
                </h1>
                <a href="" id="dataNowMonth">Ver dados deste mês</a>
            </div>

            <div style="width: 100%; display: flex; justify-content: center;">
                <span class="box-info">
                    Este valor é referente a soma dos ganhos subtraído pelas contas pagas do mês atual. As contas que
                    não forem marcadas como pagas não serão contadas aqui.
                </span>
            </div>

            <hr style="border: transparent;">

            <!-- Gráfico de montanha russa -->

            <div class="grafico-m-r" id="grafico-m-r">
                <div class="load" id="load_4"></div>
                <div id="chart_div"></div>
            </div>

            <!-- Gráfico rosca 1 -->
            <hr style="border: transparent;">

            <div id="dado_2">
                <div id="dado_2_box">
                    <div class="load" id="load_2"></div>
                    <div id="donutchart"></div>
                </div>
            </div>


            <hr style="border: transparent;">
            <!-- Gráfico rosca 2 -->

            <div id="dado_3_box">
                <div id="dado_3">
                    <div class="load" id="load_3"></div>
                    <div id="donutchart_2"></div>
                </div>
            </div>
        </section>
        <hr style="border: transparent;">

        <!-- Contas que vencem nos próximos 7 dias -->

        <section class="info">
            <h1>Contas que vencem nos próximos 7 dias</h1>

            <tr th:if="${#lists.isEmpty(contas)}">
                <p class="box-info" style="margin: 20px 0;">Não há contas a vencer nos próximos 7 dias.</p>
            </tr>
            <div th:if="${!#lists.isEmpty(contas)}" style="width: 100%; display: flex; justify-content: center;">
                <table>
                    <thead>
                        <th>Conta</th>
                        <th>Anotações</th>
                        <th>Valor</th>
                        <th>Vencimento</th>
                    </thead>
                    <tbody th:each="contas : ${contas}">

                        <td th:text="${contas.conta}"></td>
                        <td th:text="${contas.anotacao}"></td>
                        <td th:text="'R$ ' + ${#numbers.formatDecimal(contas.valor, 0, 'POINT', 2, 'COMMA')}"></td>
                        <td th:text="${#temporals.format(contas.vencimento, 'dd/MM/yyyy')}"></td>
                        <td>
                            <button th:data-id="${contas.id}" id="editar" title="Editar"></button>
                        </td>
                        <td>
                            <button th:data-id="${contas.id}" id="excluir" title="Excluir"></button>
                        </td>
                        <td>
                            <button th:data-id="${contas.id}" id="mcp" title="Marcar como pago"></button>
                        </td>
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <!-- Scripts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="module" src="/js/dashboard.js"></script>
    <script type="module">
        import linkOfCalender from '/js/functions/linkOfCalender.js';
        linkOfCalender();
    </script>
    <script src="/js/scripts.js"></script>
    <script src="/js/contas.js"></script>
</body>

</html>