@keyframes load{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
body{
    display: flex;
    align-items: start;
}
.graficos-total{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}
.grafico-m-r{
    width: 100%;
    display: flex;
    justify-content: center;
}
#dado_1, #dado_2, #dado_3 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

/* Div de load quando inica */
.load{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 20px groove #81f4c3;
    animation: load 1s linear infinite;
    margin: 20px;
}

/* Informações */

.info{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.info h1{
    margin: 10px calc(40% - 100px) 0 0;
    color: white;
}

#dado_1{

    display: none;

    width: 300px;
    height: 150px;
    background-color: #b8fadd;
    border-radius: 10px;

    margin: 20px;
    text-align: center;
    padding-top: 50px;

    font-size: 30px;

}
#dataNowMonth{
    font-size: 17px;
    text-decoration: none;
    color: #0fa868;
}
#dataNowMonth:hover{
    text-decoration: underline;
}

.no-data{
    color: white;
    margin: 20px 0;
    width: 300px;
    text-align: center;
    font-size: 25px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;

    padding: 20px 0;
    margin: 20px auto;
}