.box{
    width: 100%;
}
.box input{
    width: 100%;
}
form{

    width: 100% !important;
}
.box-info{
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;

    background-color: #b8fadd;
}
#del{
    margin: 10px 0 0 0;
    background-color: #b82121;
}