.box-config{
    width: 400px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.title-text-perfil{
    color: white;
    font-size: 50px;
    margin-top: 30px;
}
.box-del{
    background-color: #b8fadd;
    width: 400px;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}
#del{
    background-color: #db0000;
}