@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: "Exo 2", sans-serif;
}
html{
    max-width: 1500px;
    height: 100vh;
    display: flex;
    justify-content: center;
}
body{
    width: 100%;
    max-width: 1500px;
    background-color: #0ea52f;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
header{
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
header a{
    color: white;
    text-decoration: none;
}


footer{
    width: 95%;
    background-color: white;
    border-radius: 1px;
    max-height: 200px;
}