<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/add-conta.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" href="/img/logo.jpg" type="image/x-icon">
    <title>Verificar Email</title>

</head>
<body>
    <!-- Componente header importado do diretório /components/component.html -->
    <header th:fragment="header">
        <img src="/img/nav-hbg.jpg" id="nav" class="btn-nav-hbg">
        <a th:href="@{/auth/register}">Criar Conta</a>
    </header>

    <div th:replace="components/component :: nav"></div>
    
    <main>

        <div th:if="${erro_exception} != null" style="width: 90%;">
            <h1 style="color: white; margin: 10px;">Parece que...</h1>
            <p th:text="${erro_exception}" class="box-info" style="width: 90%;"></p>
        </div>

    </main>

    <!-- Scripts -->
    <script src="/js/scripts.js"></script>
</body>
</html>