<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/add-conta.css">
    <link rel="shortcut icon" href="/img/logo.jpg" type="image/x-icon">
    <script src="/js/scripts.js"></script>
    <title>Adicionar Ganho</title>
</head>
<body>
    <!-- Componente header importado do diretório /components/component.html -->
    
    <header th:replace="components/component :: header"></header>

    <div th:replace="components/component :: nav"></div>
    
    <main>

        <!-- Formulário -->
        <form action="/ganhos/criar" method="post" th:object="${ganhos}">

            <h1>Adicionar Ganho</h1>

            <!-- Nome da conta -->
            <input type="text" th:field="*{ganho}" placeholder="Nome do Ganho" >
            <div class="box-errors" th:if="${#fields.hasErrors('ganho')}">
                <p class="errors" th:errors="*{ganho}"></p>
            </div>

            <!-- Valor da conta -->
            <input type="number" th:field="*{valor}" step="0.01" placeholder="Valor do Ganho" >
            <div class="box-errors" th:if="${#fields.hasErrors('valor')}">
                <p class="errors" th:errors="*{valor}"></p>
            </div>

            <!-- Anotação da conta -->
            <textarea th:field="*{anotacao}" rows="1" cols="10" placeholder="Anotação do Ganho"></textarea>
            <div class="box-errors" th:if="${#fields.hasErrors('anotacao')}">
                <p class="errors" th:errors="*{anotacao}"></p>
            </div>

            <!-- Checkbox para todos os meses -->
            <div style="width: 100%; display: flex; justify-content: start;">
                <input type="checkbox" th:field="*{esteMes}" id="checkJustForMonthNow" style="width: 15px; height: 15px;">
                <label for="checkJustForMonthNow" style="margin: 2px 0 0 5px;">Somente para este mês</label>
            </div>

            <button>Enviar</button>
        </form>
    </main>
</body>
</html>