<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/list.css">
    <link rel="shortcut icon" href="/img/logo.jpg" type="image/x-icon">
    <script src="/js/scripts.js"></script>
    <title>Lista de Ganhos</title>
</head>
<body>

    <!-- Componente header importado do diretório /components/component.html -->
    <header th:replace="components/component :: header"></header>

    <div th:replace="components/component :: nav"></div>
    
    <main>
        <section>
            <div class="devendo">
                <h1>
                    <td th:text="'R$ ' + ${#numbers.formatDecimal(totalGanho, 1, 'COMMA', 2, 'COMMA')}"></td>
                </h1>              
            </div>
        </section>
        <table th:each="ganhos : ${ganhos}">
            <thead>
                <th>Ganho</th>
                <th>Anotações</th>
                <th>Valor</th>
            </thead>
            <tbody>

                <td th:text="${ganhos.ganho}"></td>
                <td th:text="${ganhos.anotacao}"></td>
                <td th:text="'R$ ' + ${#numbers.formatDecimal(ganhos.valor, 0, 'POINT', 2, 'COMMA')}"></td>
                <td>
                    <a th:href="@{/ganhos/editar/{id}(id=${ganhos.id})}">Editar</a>
                </td>
                <td>
                    <a th:href="@{/ganhos/excluir/{id}(id=${ganhos.id})}">Excluir</a>
                </td>
            </tbody>
        </table>
    </main>
</body>
</html>