<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/list.css">
    <link rel="shortcut icon" href="/img/logo.jpg" type="image/x-icon">
    <title>Lista de Ganhos</title>
</head>
<body>

    <!-- Componente header importado do diretório /components/component.html -->
    <header th:replace="components/component :: header"></header>

    <div th:replace="components/component :: nav"></div>
    
    <main>
        <section>
            <div class="devendo">
                <h1>
                    <td th:text="'R$ ' + ${#numbers.formatDecimal(totalGanho, 1, 'POINT', 2, 'COMMA')}"></td>
                </h1>              
            </div>
        </section>

        <h1 style="color: white; text-align: start; padding-left: 10%; width: 100%; margin: 20px 0">Ganhos</h1>

        <div th:if="${ganhos}" style="width: 100%; display: flex; justify-content: center; flex-wrap: wrap;">

            <table>
                <thead>
                    <th>Ganho</th>
                    <th>Anotações</th>
                    <th>Valor</th>
                </thead>
                <tbody th:each="ganhos : ${ganhos}">

                    <td th:text="${ganhos.ganho}"></td>
                    <td th:text="${ganhos.anotacao}"></td>
                    <td th:text="'R$ ' + ${#numbers.formatDecimal(ganhos.valor, 0, 'POINT', 2, 'COMMA')}"></td>
                    <td>
                        <button th:data-id="${ganhos.id}" id="editar"></button>
                    </td>
                    <td>
                        <button th:data-id="${ganhos.id}" id="excluir"></button>
                    </td>
                </tbody>
            </table>
        </div>

        <h1 style="color: white; text-align: start; padding-left: 10%; width: 100%; margin: 20px 0">Ganhos para somente este mês</h1>

        <div th:if="${ganhos_este_mes}" style="width: 100%; display: flex; justify-content: center; flex-wrap: wrap;">

            <table>
                <thead>
                    <th>Ganho</th>
                    <th>Anotações</th>
                    <th>Valor</th>
                </thead>
                <tbody th:each="ganhos_este_mes : ${ganhos_este_mes}">

                    <td th:text="${ganhos_este_mes.ganho}"></td>
                    <td th:text="${ganhos_este_mes.anotacao}"></td>
                    <td th:text="'R$ ' + ${#numbers.formatDecimal(ganhos_este_mes.valor, 0, 'POINT', 2, 'COMMA')}"></td>
                    <td>
                        <button th:data-id="${ganhos_este_mes.id}" id="editar"></button>
                    </td>
                    <td>
                        <button th:data-id="${ganhos_este_mes.id}" id="excluir"></button>
                    </td>
                </tbody>
            </table>
        </div>

        <div th:if="${ganhos_este_mes.isEmpty()}" style="width: 100%; display: flex; justify-content: center;">
            <p class="box-info">Você não tem ganhos para somente este mês.</p>
        </div>
    </main>

    <!-- Scripts -->
    <script src="/js/scripts.js"></script>
    <script src="/js/ganhos.js"></script>
</body>
</html>