<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>

    <!-- Componente header importado do diretório /components/component.html -->
    <header th:replace="components/component :: header"></header>

    <div th:replace="components/component :: nav"></div>

    <main>
        <!-- Caso  seja permitido trocar a senha (Retorna true no controller) -->
        <!-- Ele renderiza a caixa que troca a senha -->
        <div th:if="${change_password} == true">
            <form action="">
                <input type="password" name="senha" placeholder="Nova senha">
                <input type="password" placeholder="Confirme sua nova senha">
                <button>Trocar de Senha</button>
            </form>
        </div>

        <!-- Caso houver erros, ele renderiza a caixa de erros -->
        <div th:if="${erro_exception}">
            <div class="box-info" th:text="${erro_exception}" style="height: 40px; width: 500px;"></div>
        </div>
    </main>
</body>
</html>