<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/add-conta.css">
    <title>Redefinir Senha</title>
</head>

<body>

    <!-- Componente header importado do diretório /components/component.html -->
    <header th:replace="components/component :: header"></header>

    <div th:replace="components/component :: nav"></div>

    <main>
        <!-- Caso  seja permitido trocar a senha (Retorna true no controller) -->
        <!-- Ele renderiza a caixa que troca a senha -->
        <div th:if="${change_password} == true">
            <form action="/change-password" method="post">
                <h1>Redefina sua senha</h1>
                <input type="hidden" id="token" name="token" th:value="${token}">
                <input type="password" name="senha" placeholder="Nova senha" id="senha">
                <input type="password" placeholder="Confirme sua nova senha" id="c-senha">
                <button id="btn">Trocar de Senha</button>
                <p class="errors" id="err"></p>
                <p class="errors" th:if="${erro_vali}" th:text="${erro_vali}"></p>
            </form>
        </div>

        <!-- Caso houver erros, ele renderiza a caixa de erros -->
        <div th:if="${erro_exception}">
            <div class="box-info" th:text="${erro_exception}" style="height: 40px; width: 500px;"></div>
        </div>
    </main>

    <script>

        document.getElementById('btn').addEventListener("click", function (event) {

            var senha = document.getElementById("senha").value;
            var rsenha = document.getElementById("c-senha").value;

            if (senha != rsenha) {
                event.preventDefault();
                document.querySelector("#err").textContent = "As senhas não coencidem";
            } else {
                document.querySelector("#err").textContent = "";
            }
        })
    </script>
</body>

</html>