<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="stylesheet" href="/css/add-conta.css">
    <link rel="shortcut icon" href="/img/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/media-query/index.css">
    <title>AdMon</title>
</head>
<body>

    <!-- Componente header importado do diretório /components/component.html -->
    <header th:replace="components/component :: header"></header>

    <div th:replace="components/component :: nav"></div>

    <main>
        <section style="width: 100%; display: flex; justify-content: space-around; flex-wrap: wrap;">

            <!-- Primeira parte -->
            <div class="box-config" style="background-color: transparent; align-items: start;">
                 <h1 class="title-text-perfil">Olá, <span th:text="${session.session.getNome()}"></span>!</h1>
            </div>

            <div class="box-config">
                <form action="/perfil/editar" method="post" id="formSenha">
                    <h1>Alterar a senha</h1>
                    <input type="password" name="senhaAntiga" placeholder="Digite sua antiga senha">
                    <input type="password" id="senhaNova" name="senhaNova" placeholder="Digite sua nova senha">
                    <input type="password" id="repeteSenha" placeholder="Repita a nova senha">                    
                    <p th:text="${msgError}" class="errors"></p>
                    <p class="errors" id="err" style="    width: 100%; text-align: center;"></p>
                    <button id="submit">Alterar Senha</button>
                </form>
            </div>
        </section>
        <hr>
        <section style="width: 100%; display: flex; justify-content: space-around;">
            <div style="width: 400px;"></div>
            <div class="box-del">
                <h1>Deletar Conta</h1>
                <button id="del">Deletar Conta</button>
            </div>
        </section>
    </main>

    <!-- Modal -->
     <div class="modal" id="confirm-del">
        <span id="close">x</span>
        <p>Deseja realmente apagar esta conta? Esta ação é irreversível e você perderá dados importantes. Caso queira voltar a utilizar esta conta você terá que recadastrar.</p>
        <button id="confirm">Confirmar</button>
     </div>
     <div class="overlay" id="overlay"></div>

    <!-- Scripts -->
    <script src="/js/scripts.js"></script>
    <script src="/js/form-contas.js"></script>
    <script src="/js/del-conta.js"></script>
</body>
</html>