<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="stylesheet" href="/css/add-conta.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/media-query/index.css">
    <title>AdMon</title>
</head>
<body>

    <!-- Componente header importado do diretório /components/component.html -->
    <header th:replace="components/component :: header"></header>

    <div th:replace="components/component :: nav"></div>

    <main>
        <section  class="box-info">
            <div class="box">
                <form action="/nome/editar" method="post">
                    <h1>Trocar de nome</h1>
                    <input type="text" name="nome" placeholder="Novo nome">
                    <input type="password" name="senha" placeholder="Senha">

                    <p th:if="${msgNameError}" th:text="${msgNameError}" class="errors" style="width: 100%; text-align: start;"></p>

                     <button>Trocar de nome</button>
                </form>
            </div>
            <div class="box">
                <form action="/senha/editar" method="post" id="formSenha">
                    <h1>Alterar a senha</h1>

                    <input type="password" name="senhaAntiga" placeholder="Digite sua antiga senha">
                    <input type="password" id="senhaNova" name="senhaNova" placeholder="Digite sua nova senha">
                    <input type="password" id="repeteSenha" placeholder="Repita a nova senha">   
                    <a th:href="@{/forgot-password}" style="color: #0b8a26; text-align: start; width: 100%;" id="dataNowMonth">Esqueceu a senha?</a>                 
                    
                    <!-- Mensagens de erros/sucesso -->
                    <p th:if="${msgError}" th:text="${msgError}" class="errors" style="width: 100%; text-align: start;"></p>
                    <p th:if="${msgSucess}" th:text="${msgSucess}" class="errors" style=" width: 100% ;color: #0b8a26; text-align: start;"></p>
                    <p class="errors" id="err" style="width: 100%; text-align: start;"></p>

                    <button id="submit">Alterar Senha</button>
                </form>
            </div>
            <div class="box">
                <h1>Deletar Conta</h1>
                <button id="del">Deletar Conta</button>
            </div>
        </section>
    </main>

    <!-- Modal -->
     <div class="modal" id="confirm-del">
        <span id="close">x</span>
        <p>Deseja realmente apagar esta conta? Esta ação é irreversível e você perderá dados importantes. Caso queira voltar a utilizar esta conta você terá que recadastrar.</p>
        <button id="confirm">Confirmar</button>
     </div>
     <div class="overlay" id="overlay"></div>

    <!-- Scripts -->
    <script src="/js/scripts.js"></script>
    <script src="/js/form-contas.js"></script>
    <script src="/js/del-conta.js"></script>
</body>
</html>