<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/media-query/index.css">
    <script src="js/scripts.js"></script>
    <title>AdMon</title>
</head>
<body>

    <!-- Componente header importado do diretório /components/component.html -->
    <header th:replace="components/component :: header"></header>

    <div th:replace="components/component :: nav"></div>

    <main>
        <!-- Primeira parte da página -->
        <section style="display: flex; justify-content: space-between; flex-wrap: wrap; padding: 20px;">

            <div style="width: 50%; padding-top: 30px;" class="box_main_1">
                <h1 style="font-size: 50px; color: white; height: 3em; line-height: 1em; text-align: center;">
                    Administre suas finanças com maestria
                </h1>
            </div>

            <div style="width: 50%; display: flex; justify-content: center;" class="box_main_1">
                <img src="img/back_1.jpeg" class="img_main_1">
            </div>

        </section>

        <hr>

        <!-- Segunda parte da página -->
        <section>
            <h1 style="font-size: 40px; color: white; margin: 20px 0 20px 0; line-height: 1em; text-align: center;">Como isso pode me ajudar?</h1>

            <div style="display: flex; justify-content: center; flex-wrap: wrap;">
                <div class="box-home-1">
                    <img src="../img/grafico_home.png" alt="" class="img-box-home-1">
                    <h1 class="h1-home-1">Acompanhe suas metas</h1>
                    <p class="p-box-home-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus mollitia molestias laboriosam labore accusamus ex cum doloribus! </p>
                </div>
                <div class="box-home-1">
                    <img src="" class="img-box-home-1">
                    <h1 class="h1-home-1">Controle seus gastos</h1>
                    <p class="p-box-home-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus mollitia molestias laboriosam labore accusamus ex cum doloribus! </p>
                </div>
                <div class="box-home-1">
                    <img src="" alt="" class="img-box-home-1">
                    <h1 class="h1-home-1">Crie projetos</h1>
                    <p class="p-box-home-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus mollitia molestias laboriosam labore accusamus ex cum doloribus! </p>
                </div>
                <div class="box-home-1">
                    <img src="../img/projetos-home.png" style="filter: none;" class="img-box-home-1">
                    <h1 class="h1-home-1">Realize sonhos</h1>
                    <p class="p-box-home-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus mollitia molestias laboriosam labore accusamus ex cum doloribus! </p>
                </div>
            </div>
        </section>

        <hr>

        <!-- Terceira página -->
        <section>
            <h1 style="font-size: 40px; color: white; height: 3em; line-height: 1em; text-align: center;">Perguntas frequentes</h1>

            <div>

            </div>

        </section>
    </main>

    <!-- Componente footer importado do diretório /components/component.html -->
    <footer th:replace="components/component :: footer"></footer>
</body>
</html>