<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/media-query/index.css">
    <link rel="stylesheet" href="css/home.css">
    <title>AdMon</title>
</head>
<body>

    <!-- Componente header importado do diretório /components/component.html -->
    <header th:replace="components/component :: header"></header>

    <div th:replace="components/component :: nav"></div>

    <main>
        <!-- Primeira parte da página -->
        <section style="display: flex; justify-content: space-between; flex-wrap: wrap; padding: 20px;">

            <div style="width: 50%; padding-top: 30px;" class="box_main_1">
                <h1 style="font-size: 50px; color: white; height: 3em; line-height: 1em; text-align: center;">
                    Administre suas finanças com maestria
                </h1>
            </div>

            <div style="width: 50%; display: flex; justify-content: center;" class="box_main_1">
                <img src="img/back_1.jpeg" class="img_main_1">
            </div>

        </section>

        <hr>

        <!-- Segunda parte da página -->
        <section>
            <h1 style="font-size: 40px; color: white; margin: 20px 0 20px 0; line-height: 1em; text-align: center;">Como isso pode me ajudar?</h1>

            <div style="display: flex; justify-content: center; flex-wrap: wrap;">
                <div class="box-home-1">
                    <img src="../img/grafico_home.png" alt="" class="img-box-home-1">
                    <h1 class="h1-home-1">Acompanhe suas metas</h1>
                    <p class="p-box-home-1">Trace metas e acompanhe seu progresso para chegar a lugares que nunca imaginou!</p>
                </div>
                <div class="box-home-1">
                    <img src="../img/controle-gastos.png" class="img-box-home-1">
                    <h1 class="h1-home-1">Controle seus gastos</h1>
                    <p class="p-box-home-1">Tenha controle sobre seus gastos e se planeje melhor para o futuro!</p>
                </div>
                <div class="box-home-1">
                    <img src="../img/projetos-home.png" alt="" class="img-box-home-1">
                    <h1 class="h1-home-1">Crie projetos</h1>
                    <p class="p-box-home-1">Crie projetos para melhor qualidade de vida tanto no curto quanto no longo prazo.</p>
                </div>
                <div class="box-home-1">
                    <img src="../img/realize-sonhos.png" class="img-box-home-1">
                    <h1 class="h1-home-1">Realize sonhos</h1>
                    <p class="p-box-home-1">Realize seus sonhos administrando seu dinheiro com maestria e com ajuda das nossas ferramentas.</p>
                </div>
            </div>
        </section>

        <hr>

        <!-- Terceira parte da página -->
        <section style="width: 100%; border-radius: 10px; display: flex; flex-wrap: wrap; justify-content: space-around; padding: 10px; margin: 20px;">
            <img src="../img/notebook-home.png" class="img-notebook">
            <div style="display: flex; flex-wrap: wrap; width: 400px">
                <h1 style="color: white; font-size: 50px; padding: 60px 0 0 20px;">
                    Gerencie seus ganhos e suas contas                 
                    <p style="color: white; font-size: 30px;">através de um dahsboard dinâmico</p>
                <h1>
            </div>
        </section>

        <hr>

        <!-- Quarta parte da página -->
        <section style="width: 100%; display: flex; flex-wrap: wrap; justify-content: center;">
            <h1 style="font-size: 40px; color: white; height: 2em; line-height: 1em; text-align: center;">Perguntas frequentes</h1>

            <div class="pergunta-box" id="pergunta-box">
                <h2>Como posso traçar metas usando o AdMon?</h1>
                <p id="resp">Nosso site oferece ferramentas profissionais para que você possa se planejar de maneira intuitiva e fácil. Você pode organizar tudo em um só lugar com o cadastro de ganhos e de contas, onde todo mês você tem os dados em um dashboard fácil de ler e entender. Dívidas ou saldos são repassados para o próximo mês caso você não consiga pagar.</p>
            </div>

            <div class="pergunta-box" id="pergunta-box">
                <h2>Quando custa para usar o AdMon?</h2>
                <p id="resp">Atualmente você não precisa pagar nada para usar o nosso site, ele é totalmente gratuito para que você possa se planejar sem precisar gastar nada.</p>
            </div>

            <div class="pergunta-box" id="pergunta-box">
                <h2>É seguro usar o AdMon?</h2>
                <p id="resp">Sim, nosso site criptografa os dados sensíveis do usuário. Também temos verificação por e-mail e por senha, garantindo que somente você possa alterar dados sensíveis da sua conta.</p>
            </div>

            <div class="pergunta-box" id="pergunta-box">
                <h2>Como posso ajudar com sugestões para o site?</h2>
                <p id="resp">Você pode enviar um e-mail para teste@email.com e sugerir melhorias! Estamos sempre tentando oferecer as melhores ferramentas para você.</p>
            </div>

        </section>
    </main>

    <!-- Componente footer importado do diretório /components/component.html -->
    <footer th:replace="components/component :: footer"></footer>

    <!-- Scripts -->
    <script src="js/scripts.js"></script>
</body>
</html>