<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="/css/meses.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <title th:text="${mes}"></title>
</head>

<body>

    <!-- Componente header importado do diretório /components/component.html -->
    <header th:replace="components/component :: header"></header>

    <div th:replace="components/component :: nav"></div>

    <div style="width: 100%;">
        <h1 th:text="${mes}" style="color: white; text-align: center;  width: 100%;"></h1>
    </div>

    <main class="main">

<!-- Contas -->

        <h1 style="color: white; text-align: start; width: 100%; padding-left: 10%;">Contas</h1>
        <hr>

        <h3 style="width: 100%; padding-left: 10%; text-align: start;">Contas</h3>
        <div th:if="${contas}" style="width: 100%">

            <div style="width: 100%; display: flex; flex-wrap: wrap; justify-content: center;">

                <table th:if="${!contas.isEmpty()}">
                    <thead>
                        <th>Conta</th>
                        <th>Anotações</th>
                        <th>Valor</th>
                        <th>Vencimento</th>
                    </thead>
                    <tbody th:each="contas : ${contas}">
                        <td th:text="${contas.conta}"></td>
                        <td th:text="${contas.anotacao}"></td>
                        <td th:text="'R$ ' + ${#numbers.formatDecimal(contas.valor, 0, 'COMMA', 2, 'COMMA')}"></td>
                        <td th:text="${#temporals.format(contas.vencimento, 'dd/MM/yyyy')}"></td>
                        <td>
                            <a th:href="@{/contas/editar/{id} (id=${contas.id})}" id="editar" title="Editar"></a>
                        </td>
                        <td>
                            <button th:data-id="${contas.id}" id="excluir" title="Excluir"></button>
                        </td>
                        <td>
                            <button th:data-id="${contas.id}" id="mcp" title="Marcar como pago"></button>
                        </td>
                    </tbody>
                </table>
            </div>


            <br>
            <div th:if="${contas.isEmpty()}" style="width: 100%; display: flex; justify-content: center;">
                <p class="box-info">Você não tem contas para este mês</p>
            </div>
            <br>
            
<!-- Contas que já foram pagas -->

            <div th:if="${contas_pagas}" style="width: 100%">
                <h3 style="width: 100%; padding-left: 10%; text-align: start;">Contas Pagas</h3>
                <div style="width: 100%; display: flex; flex-wrap: wrap; justify-content: center;">
                    <table th:if="${!contas_pagas.isEmpty()}">
                        <thead>
                            <th>Conta</th>
                            <th>Anotações</th>
                            <th>Valor</th>
                            <th>Vencimento</th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody th:each="contas_pagas : ${contas_pagas}">
                            <td th:text="${contas_pagas.conta}"></td>
                            <td th:text="${contas_pagas.anotacao}"></td>
                            <td th:text="'R$ ' + ${#numbers.formatDecimal(contas_pagas.valor, 0, 'COMMA', 2, 'COMMA')}"></td>
                            <td th:text="${#temporals.format(contas_pagas.vencimento, 'dd/MM/yyyy')}"></td>
                            <td>
                                <a th:href="@{/contas/editar/{id} (id=${contas_pagas.id})}" id="editar" title="Editar"></a>
                            </td>
                            <td>
                                <button th:data-id="${contas_pagas.id}" id="excluir" title="Excluir"></button>
                            </td>
                            <td>
                                <button th:data-id="${contas_pagas.id}" id="mcp" class="mcnp" title="Marcar como não pago"></button>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>

            <br>
            <div th:if="${contas_pagas.isEmpty()}" style="width: 100%; display: flex; justify-content: center;">
                <p class="box-info">Você não tem contas pagas para este mês</p>
            </div>

            <!-- Espaço entre as divs -->
            <div style="display: flex; width: 100%; height: 50px;"></div>

<!-- Ganhos -->

            <div style="width: 100%; display: flex; flex-wrap: wrap; justify-content: center;">
                <h1 style="color: white; text-align: start; width: 100%; padding-left: 10%;">Ganhos</h1>
                <hr>
                <h3 style="width: 100%; padding-left: 10%; text-align: start;">Ganhos</h3>

                <table th:if="${!ganhos.isEmpty()}">
                    <thead>
                        <th>Ganho</th>
                        <th>Anotações</th>
                        <th>Valor</th>
                    </thead>
                    <tbody th:each="ganhos : ${ganhos}">
    
                        <td th:text="${ganhos.ganho}"></td>
                        <td th:text="${ganhos.anotacao}"></td>
                        <td th:text="'R$ ' + ${#numbers.formatDecimal(ganhos.valor, 0, 'POINT', 2, 'COMMA')}"></td>
                        <td>
                            <a th:href="@{/ganhos/editar/{id} (id=${ganhos.id})}" id="editar" title="Editar"></a>
                        </td>
                        <td>
                            <button th:data-id="${ganhos.id}" id="excluir" title="Excluir"></button>
                        </td>
                    </tbody>
                </table>

                <div th:if="${ganhos.isEmpty()}" style="width: 100%; display: flex; justify-content: center; margin: 20px;">
                    <p class="box-info">Você não tem ganhos cadastrados.</p>
                </div>
            </div>

<!-- Ganhos para somente este mês -->

            <div style="width: 100%; display: flex; flex-wrap: wrap; justify-content: center;">
                <h3 style="width: 100%; padding-left: 10%; text-align: start;">Ganhos somente deste mês</h3>
                <table th:if="${!ganhos_este_mes.isEmpty()}">
                    <thead>
                        <th>Ganho</th>
                        <th>Anotações</th>
                        <th>Valor</th>
                    </thead>
                    <tbody th:each="ganhos_este_mes : ${ganhos_este_mes}">
    
                        <td th:text="${ganhos_este_mes.ganho}"></td>
                        <td th:text="${ganhos_este_mes.anotacao}"></td>
                        <td th:text="'R$ ' + ${#numbers.formatDecimal(ganhos_este_mes.valor, 0, 'POINT', 2, 'COMMA')}"></td>
                        <td>
                            <a th:href="@{/ganhos/editar/{id} (id=${ganhos_este_mes.id})}" id="editar" title="Editar"></a>
                        </td>
                        <td>
                            <button th:data-id="${ganhos_este_mes.id}" id="excluir" title="Excluir"></button>
                        </td>
                    </tbody>
                </table>

                <div th:if="${ganhos_este_mes.isEmpty()}" style="width: 100%; display: flex; justify-content: center; margin: 20px;">
                    <p class="box-info">Você não tem ganhos deste mês cadastrados.</p>
                </div>
            </div>
        </div>
    </main>

    <!-- Scripts -->
    <script src="/js/scripts.js"></script>
    <script src="/js/contas.js"></script>
    <script src="/js/ganhos.js"></script>
</body>

</html>